<section class="container-fluid">
    <div class="row">
      <div class="col-md-4 text-center">
          <i class="fas fa-medal icons"></i>
          <h3 class="text-center">QUALITE</h3>
          <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            In assumenda suscipit rerum nobis. Dignissimos, quod. Aliquid similique iure amet animi delectus, 
            distinctio consequatur ratione dicta, esse id qui ut omnis.
          </p>
      </div>
      <div class="col-md-4 text-center">
          <i class="far fa-lightbulb icons"></i>
          <h3 class="text-center">INNOVATION</h3>
          <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            In assumenda suscipit rerum nobis. Dignissimos, quod. Aliquid similique iure amet animi delectus, 
            distinctio consequatur ratione dicta, esse id qui ut omnis.
          </p>
      </div>
      <div class="col-md-4 text-center">
          <i class="fas fa-shield-alt icons"></i>
          <h3 class="text-center">SECURITE</h3>
          <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            In assumenda suscipit rerum nobis. Dignissimos, quod. Aliquid similique iure amet animi delectus, 
            distinctio consequatur ratione dicta, esse id qui ut omnis.
          </p>
      </div>
      <div class="col-md-4 text-center">
          <i class="far fa-thumbs-up icons"></i>
          <h3 class="text-center">POLITIQUE</h3>
          <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            In assumenda suscipit rerum nobis. Dignissimos, quod. Aliquid similique iure amet animi delectus, 
            distinctio consequatur ratione dicta, esse id qui ut omnis.
          </p>
      </div>
      <div class="col-md-4 text-center">
          <i class="fas fa-briefcase icons"></i>
          <h3 class="text-center">PARTENAIRES</h3>
          <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            In assumenda suscipit rerum nobis. Dignissimos, quod. Aliquid similique iure amet animi delectus, 
            distinctio consequatur ratione dicta, esse id qui ut omnis.
          </p>
      </div>
      <div class="col-md-4 text-center">
          <i class="fas fa-user-cog icons"></i>
          <h3 class="text-center">STAFF</h3>
          <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            In assumenda suscipit rerum nobis. Dignissimos, quod. Aliquid similique iure amet animi delectus, 
            distinctio consequatur ratione dicta, esse id qui ut omnis.
          </p>
      </div>
    </div>
</section>