<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top d-md-none bg-kent">
  <div class="container">
      <a class="navbar-brand" routerLink="#">BuildApp</a>
      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"  id="collapseExample" [ngbCollapse]="!isCollapsed">
          <ul class="navbar-nav ml-auto">
            <div class="profile d-flex justify-content-center align-items-center">
                <img src="{{user.picture}}" class="img-responsive profilePic">
            </div>
            <p class="text-center"><strong>{{user.fname}} {{user.name}}</strong></p>
            <p class="text-center">Compte {{user.type}}</p>

            <div *ngIf="inProject">
                <li class="nav-item text-center">
                    <a [routerLink]=[uri] class=" nav-link">Resume <span class="text-warning">(projet)</span></a>
                </li>
                <li class="nav-item text-center">
                  <a [routerLink]="[{outlets: { project: 'galerie'}}]" class=" nav-link">Galerie photo <span class="text-warning">(projet)</span></a>
                </li>
                <li class="nav-item text-center" *ngIf="user.work != 1">
                    <a [routerLink]="[{outlets: { project: 'addT'}}]" class=" nav-link">Ajouter une tache <span class="text-warning">(projet)</span></a>
                </li>
                <li class="nav-item text-center">
                    <a [routerLink]="[{outlets: { project: 'taches'}}]" class="nav-link">Tableau des taches <span class="text-warning">(projet)</span></a>
                </li>
                <div *ngIf="user.work == 1">
                    <li class="nav-item text-center">
                        <a [routerLink]="[{outlets: { project: 'addInt'}}]" class="nav-link">Ajouter un intervenant <span class="text-warning">(projet)</span></a>
                    </li>
                    
                    <li class="nav-item text-center">
                        <a [routerLink]="[{outlets: { project: 'ressources'}}]" class="nav-link">Tableau des depenses <span class="text-warning">(projet)</span></a>
                    </li>
                </div>
            </div>

            <li class="nav-item text-center">
                <a class="nav-link text-center" [routerLink]="['/welcome', {outlets: { options: 'add'}}]">Ajouter un projet</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link text-center" [routerLink]="['/welcome', {outlets: { options: 'projects'}}]">Voir mes projets</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-center" [routerLink]="['/welcome', {outlets: { options: 'profile'}}]">Modifier mes infos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-center" [routerLink]="['/welcome', {outlets: { options: 'news'}}]">Notifications</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-center" (click)="deconnexion()">Me deconnecter</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
