<section>
  <div>
    <div class="row">
      <div class="offset-md-8 col-md-4">
          <p class="text-right">
              <button type="button" class="btn btn-plein" (click)="isCollapsed = !isCollapsed">
                Ajouter une depense
              </button>
            </p>
            <div id="collapseExample" [ngbCollapse]="!isCollapsed">
              <div class="card">
                <div class="card-body">
                  <form #depense="ngForm" (ngSubmit)="add(depense)">
                    <div class="form-group">
                      <label for="lib">Libelle ou titre</label>
                      <input id="lib" class="form-control" type="text" name="lib" ngModel required>
                    </div>
                    <div class="form-group">
                      <label for="montant">Montant des depenses</label>
                      <input id="montant" class="form-control" type="number" name="montant" ngModel min="0" step="10000" required>
                    </div>  
                    <div class="form-group">
                      <label for="date">Date de depense</label>
                      <input id="date" class="form-control" type="date" name="date" ngModel required>
                    </div>
                    <div class="form-group">
                      <label for="depenses">Petite description</label>
                      <textarea class="form-control" name="comment" id="depenses" rows="2" ngModel required></textarea>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-kent btn-block" [disabled]="depense.invalid">Ajouter au tableau</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
      </div>
    </div>
    <div class="ligne">
      <h2 class="text-center text-light">Tableau des depenses</h2>
        <div class="table-responsive">
          <table class="table table-md table-bordered">
            <thead class="thead-default">
              <tr>
                <th scope="col">Libelle</th>
                <th scope="col">Description</th>
                <th scope="col">Montant</th>
                <th scope="col">Date</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let depense of depenses">
                  <td>{{depense.title}}</td>
                  <td>{{depense.description}}</td>
                  <td>{{depense.montant}} Frs</td>
                  <td>{{depense.dateD}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2"><h4>Total depenses</h4></td>
                  <td colspan="2"><h4>{{TotalDepenses}} Frs</h4></td>
                </tr>
              </tfoot>
          </table>
        </div>
    </div>
    
  </div>
</section>

<ngx-spinner></ngx-spinner>