section {
    /* padding-top: 60px; */
    color: black !important;
    /* background: rgba(000, 000, 000, 0.6); */
    position: relative;
    height: inherit;
    width: inherit;
}
.imgP {
    height: 350px;
    width: 100%;
    margin-bottom: 30px;
}

.imgP img {
    height: inherit;
}

.ptiInfos {
    height: 100px;;
    background: gray;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3%;

}

#infos {
    height: 500px;
    padding: 1%;
}

.ptiInfos i {
    font-size: 2em;
}

.lastest img {
    height: 250px;
}


@media (min-width: 992px) {

    section {
        padding-top: 5px;
    }
}