section {
}

.task {
    width: 100%;
}

section {
    position: absolute;
    width: 100%;
}

#acc {
    background: red;
}

.titre {
    background: red !important;
}

.descriptions {
    margin-top: 20px;
}

.title {
    text-shadow: 0px 0px 5px skyblue;
}