<div class="container-fluid">
    <div class="row">
        <ngb-carousel id="carousel">
            <ng-template ngbSlide>
              <div class="c1 carousel-container">
                <h2>Et si il etait temps de passer a la construction 2.0 ?</h2>
              </div>
              
            </ng-template>
            <ng-template ngbSlide>
               <div class="carousel-container c2">
                  <h2>Vous etes dans le domaine de l'immobilier</h2>
                  <h2>Vous etes toujours en deplacement</h2>
                  <h2>Vous voulez etes situe sur  l'avancee de votre projet</h2>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="carousel-container c3">
                  <h2>Vous etes un entrepreneur, vous cherchez un moyen d'organiser vos chantiers</h2>
                  <h2>De mieux interagir avec vos clients, d'avoir une feuille de route clair et precise</h2>
  
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="carousel-container c4">
                    <h2>Build Manager est l'application qui est faite pour vous</h2>
                    
                    <div class="d-flex justify-content-around row buttons">
                      <button class="btn btn-outline-primary btn-lg" routerLink="/connexion">ACCEDER A SON COMPTE</button>            
                      <button class="btn btn-outline-info btn-lg" routerLink="/inscription">CREER UN COMPTE GRATUITEMENT</button>
                    </div>               
                  </div>
            </ng-template>
          </ngb-carousel>  
    </div>
  </div>