

section {
    background: url('../../../assets/cover.jpg');
    position: absolute;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    padding-top: 60px;

}
.imgP {
    background-size: cover;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.imgP img {
    height: inherit;
}



#collapseExample {
    position: fixed;
    right: 2.6em;
    z-index: 1500;
}


@media (min-width: 992px) {
    .ptiInfos {
        
    }

    section {
        padding-top: 5px;
        
    }
}

#content {
    position: relative;
    min-height: 100%;
    width: 100%;
}