<section>
    <div class="container">
      <div class="row">
          <form (ngSubmit)='inscription(fc)' #fc="ngForm" class='offset-md-2 offset-1 col-10 col-md-8 inscription'>
              <h2 class="text-center">Inscription</h2>
              <div class="divider"></div>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="fname">Prenoms</label>
                      <input type="text" name="fname" id="fname" class="form-control" placeholder="Vos prenoms" ngModel required>
                    </div>
                </div>
                <div class="col-md-6">
                   <div class="form-group">
                     <label for="name">Nom</label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Votre nom" ngModel required>
                  </div>
                </div>
              </div>
              
             
              <div class="form-group">
                <label for="mail">Adresse e-mail</label>
                <input type="email" name="mail" id="mail" class="form-control" placeholder="adresse e-mail" ngModel required>
                <small class="text-danger"><strong>{{err.mail}}</strong></small>
              </div>
              <div class="form-group">
                <div class="form-group">
                  <label for="prof">votre profession</label>
                  <select class="form-control" name="work" id="prof" ngModel required>
                    <option value="1" selected="selected">Particulier</option>
                    <option value="2">Entreprise / entrepeneur</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="pass1">Entrer un mot de passe</label>
                    <input type="password" class="form-control" name="pass1" id="pass1" placeholder="Votre mot de passe" ngModel required #pass1="ngModel" minlength="8">
    
                      <ng-container *ngIf="(pass1.value.length > 0) && pass1.invalid; else pass1Valid">
                        <small class="text-danger">Votre mot de passe doit contenir au moins 8 caracteres</small>
                      </ng-container>
                      <ng-template #pass1Valid>
                          <small class="text-success" *ngIf="pass1.valid">nous sommes d'accord sur la longueur du mot de passe</small>
                      </ng-template>
                      
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="pass2">Entrez encore votre mot de passe</label>
                    <input type="password" class="form-control" name="pass2" id="pass2" placeholder="mot de passe" ngModel required  #pass2="ngModel" minlength="8">
                    <ng-container *ngIf="(pass1.value === pass2.value) && pass1.valid; else pass2Valid">
                        <small class="text-success">Vos mots de passe sont pareils</small>
                      </ng-container>
                      <ng-template #pass2Valid>
                          <small class="text-danger" *ngIf="pass1.valid">Vos mots de passe doivent etre pareils</small>
                      </ng-template>
                  </div>
              </div>
              </div>
              
              
              <small *ngIf="fc.invalid" class="text-info">*Veuillez renseigner tous les champs</small>
              <div class="form-group">
                <button class="btn btn-kent btn-block" [disabled]='fc.invalid'>S'inscrire</button>
              </div>
          </form>
      </div>
        
    </div>
</section>

<ngx-spinner></ngx-spinner>




