<app-navbar></app-navbar>
<app-carousel-acceuil></app-carousel-acceuil>
 
<section class="container-fuild">
    <div class="container">
    <h2 class="text-center">Pourquoi choisir BuildApp ?</h2>
    <div class="row line">
        <div class="col-md-7">
            <h2 class="text-center">1</h2>
            <h3>Nous avons pris soin de mettre en place une interface accessible a tous</h3>
        </div>
        <div class="col-md-5 text-center">
            <img src="assets/public/interface.png" alt="" class="pub img-fluid">
        </div>
    </div>
    <div class="row line">
            <div class="col-md-7">
                <h2 class="text-center">2</h2>
                <h3>Avec BuildApp, rien ne vous empechera de faire le tour du monde, vous aurez toutes les infos de 
                    l'avancee des travaux sur votre application
                </h3>
            </div>
            <div class="col-md-5 text-center">
                <img src="assets/public/hme.jpg" alt="" class="pub img-fluid">
            </div>
        </div>
        <div class="row line">
                <div class="col-md-7">
                    <h2 class="text-center">3</h2>
                    <h3>BuildApp, permet une meilleure communication avec vos associes
                    </h3>
                </div>
                <div class="col-md-5 text-center">
                    <img src="assets/public/agree.jpg" alt="" class="pub">
                </div>
        </div>
        <div class="row line">
                <div class="col-md-7">
                    <h2 class="text-center">4</h2>
                    <h3>BuildApp, vous donne une visualisation globale sur vos projets de construction
                    </h3>
                </div>
                <div class="col-md-5 text-center">
                    <img src="assets/public/see.jpg" alt="" class="pub">
                </div>
        </div>
        <div class="row line">
                <div class="col-md-7">
                    <h2 class="text-center">5</h2>
                    <h3>En somme, BuildApp c'est l'outil qu'il vous fautt</h3>
                </div>
                <div class="col-md-5 text-center">
                    <img src="assets/public/app.jpg" alt="" class="pub">
                </div>
        </div>
    </div>
</section>

<app-more></app-more>
<app-footer></app-footer>